# Note: this requirements.txt file is used to specify what dependencies are
# needed to make the package run (only required packages, not optional ones)
# and with the widest range of versions that could
# be suitable)
requests

